{
  "extends": "standard",
  "rules": {
    "key-spacing": [2, {
    "beforeColon": false,
    "afterColon": true, 
    "mode": "minimum"
    }],
    "space-before-function-paren": 0,
    "no-multi-spaces": 0,
    "keyword-spacing": 0
  }
}