.header {
	margin: 10px auto 30px;
	width: 72%;
}

.header * {
	display: inline-block;
}

.logo {
	color: #005c7c;
	display: inline-block;
	width: 23%;
}

.headersearch {
	display: inline-block;
	text-align: right;
	width: 77%;
}

.navbar {
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 64%;
}

.navbar ul {
	width: 100%;
}

.navbar li {
	display: inline-block;
	margin-right: 1%;
	width: 24.25%;
}

.navbar li:nth-child(4) {
	margin-right: 0;
}

.navbar a {
	background-color: #00a175;
	color: white;
	display: inline-block;
	list-style-type: none;
	height: 65px;
	padding-top: 21px;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.navbar a:hover {
	background-color: #0456a1;
}
