.locationsearchform h3 {
  margin-right: 10px; }

.locationsearchform input {
  height: 35px;
  margin-right: 10px; }

button {
  background-color: #00a175;
  color: white;
  padding-top: 2px;
  height: 40px;
  width: 75px; }

button:hover {
  background-color: #0456a1; }
